<!-- Footer -->
<footer class="w-full p-8 md:p-12 bg-black text-cd-cream border-t-4 border-cd-purple-medium relative z-20">
    <div class="max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
        <div class="text-center md:text-left">
            <h4 class="font-black text-4xl mb-2 tracking-tighter">CD.</h4>
            <p class="font-mono text-sm text-gray-400">Transformación digital radical.</p>
        </div>
        <div class="text-center md:text-right">
            <div class="flex flex-col gap-1">
                <span class="font-mono text-xs text-gray-500">&copy; 2025 CAMBIO DIGITAL</span>
                <span class="font-mono text-xs text-gray-500">MANIZALES - COLOMBIA - WORLDWIDE</span>
            </div>
        </div>
    </div>
</footer>
